<h1>budi</h1>

<div class="geosuggest TopBar__SearchBar">
  <div class="geosuggest__input-wrapper">
    <input type="text" class="geosuggest__input TopBar__SearchBar_input" autocomplete="off" placeholder="¿Dónde quieres vivir?" value="">
  </div>
</div>
