/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
  font-family: "modelica", sans-serif;
  color: rgb(30, 50, 85);
  display: inline-block;
  margin: inherit;
 }

 .TopBar__SearchBar {
  border-radius: 4px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  min-width: 250px;
  max-width: 350px;
}

.geosuggest {
  font-size: 1em;
  position: relative;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.TopBar__Text > * {
  position: relative;
  color: #333333;
  font-size: 14.88px;
  font-size: 0.93rem;
  font-weight: 500;
  cursor: pointer;
  border: 0;
}

.geosuggest__input-wrapper {
  height: 100%;
  width: 100%;
}

.TopBar__SearchBar_input {
  border: 0;
  position: relative;
  font-size: 16.96px;
  font-size: 1.06rem;
  font-weight: 500;
  padding: 14px 12px 14px 47px;
  color: #333333;
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
}
